@use '../abstracts/variables' as *; 
@use '../abstracts/mixins' as *;

.card__boton {
    font-family: $fuente-titulos;
    font-size: 1rem;
    color: $color-blanco;
    background-color: $color-rojo;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
        background-color: $color-rojo-oscuro;
        transform: translateY(-3px);
    }

    &--agotado {
        background-color: gray;
        text-decoration: line-through;
        cursor: not-allowed;
    }
}